:root {
  font-family: Helvetica, sans-serif;
  line-height: 2.5vw;
  font-weight: 400;
  

  color-scheme: light;
  color: white;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("images/bg-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

html{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  backdrop-filter: brightness(80%);
}