.image-layout-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.image-wrapper {
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-radius: 0.5rem;
    overflow: hidden;  
    transition: all 0.2s ease-in-out; 
    box-shadow: 0px 2px 6px rgba(32, 32, 32, 0.2);
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    filter: grayscale(0.7) blur(1px);
    -webkit-filter: grayscale(0.7) blur(1px);
    transition: all 0.2s ease-in-out;
}

.image-wrapper img:hover, .image-wrapper:hover {
    
    filter: grayscale(0) blur(0px);
    -webkit-filter: grayscale(0) blur(0px);
    z-index: 1;
}

.image-wrapper:hover{
    scale: 1.05;
    box-shadow: 0px 6px 6px rgba(32, 32, 32, 0.2);
}